# Created by https://www.toptal.com/developers/gitignore/api/nuxtjs,nuxt
# Edit at https://www.toptal.com/developers/gitignore?templates=nuxtjs,nuxt

### Nuxt ###
# gitignore template for Nuxt.js projects
#
# Recommended template: Node.gitignore

# Nuxt build
.nuxt

# Nuxt generate
dist

### Nuxtjs ###
# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build

# Nuxt generate

# End of https://www.toptal.com/developers/gitignore/api/nuxtjs,nuxt
